<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guendouz.dzgeekhangout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.guendouz.dzgeekhangout.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guendouz.dzgeekhangout.SimpleListView"
            android:label="@string/simple_list_view" >
        </activity>
        <activity
            android:name="com.guendouz.dzgeekhangout.CustomListView"
            android:label="@string/custom_list_view" >
        </activity>
        <activity
            android:name="com.guendouz.dzgeekhangout.SimpleSetting"
            android:label="@string/simple_setting" >
        </activity>
        <activity
            android:name="com.guendouz.dzgeekhangout.SimpleHttpRequest"
            android:label="@string/simple_http" >
        </activity>
        <activity
            android:name="com.guendouz.dzgeekhangout.OpenWeatherMapExample"
            android:label="@string/open_weather_map" >
        </activity>
    </application>

</manifest>